body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}

/*.middle-container {
}

.bottom-container {
}*/

.skill-row {
  width: 50vw;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  width: 20vw;
  margin-top: 50px;
}

.drum-pic {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.climbing-pic {
  width: 20%;
  float: right;
  margin-left: 30px;
}
